
#score{
    font-size: 60px;
}
.block{
    border: 5px black;
    border-style: solid;
    height: 170px;
    width: 170px;
    font-size: 170px;
    text-align: center;
   
}
#container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.row{
    display: flex;
    flex-direction: row;
}
body{
    text-align: center;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
    linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, black 25%, transparent 25%),
    linear-gradient(45deg, black 25%, transparent 25%);	
    background-size: 2em 2em;
    background-color: #232323;
    font-family: 'Nanum Pen Script', cursive;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 15px #0073e6, 0 0 15px #0073e6, 0 0 30px #0073e6, 0 0 30px #0073e6;
}

#btn{
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}